   /* Header style */
  
   header{
    max-width: 1440px;
    height: 700px;
    background-image: url(../Assets/Hero-bg.png) ;
    background-repeat: no-repeat;
    background-size: cover;
   }

   .nav-bar{
    display: flex;
    justify-content: space-between;
    max-width: 1140PX;
    align-items: center;
    height: 150px;
    margin: 0 auto;

   }

   .nav-text{
    color: #4E47FF;
    font-size: 24px;
    font-weight: 600;

   }

   /* shared style */

   .common-btn{
    background-color: #4E47FF;
    color: #FFFFFF;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;

   }

   .common-btn:hover{
    background-color: rgb(216, 225, 41);
   }
   .banner{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    height: 150px;
    text-align: center;
   }

   .banner-title{
    color: #252432;
    font-size: 65px;
    font-weight: bold;
   }

   /* action style */

   .action{
    display: flex;
    justify-content: space-between;
    max-width: 1140px;
    height: 328px;
    margin: 120px 150px;
    align-items: center;
   }
   .action-content{
    width: 517px;
    height: 203px;
   }
   .action-title{
    font-size: 42px;
    font-weight: bold;
   }

   .action-subtitle{
    font-size: 24px;
    text-align: left;
   }
   .action-img{
    width: 400px;
    height: 330px;
    border: none;
    border-radius: 50px;
   }